.wrapperUser {
  display: flex;
  flex-direction: row;
  min-width: 30%;
  max-width: 40%;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 15px;
}
.imageAva {
width: 70px;
height: 70px;
border-radius: 50%;
}
.userButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}
.ava_btn {
  margin-right: 25px;
}
.userName {
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}
.userInfo {
  /* display: flex; */
 
 
}