.wrapperUser {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  min-width: 10%;
  max-width: 30%;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 15px;
}
.imageAva {
width: 70px;
height: 70px;
border-radius: 50%;
}
.userButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}
.ava_btn {
  margin-right: 25px;
}
.userName {
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}
/* .userInfo {} */

.locationUser{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
