.wrapperUser {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 40%;
  
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 15px;
}
.imageAva {
width: 70px;
height: 70px;
border-radius: 50%;
}
.userButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}
.ava_btn {
  margin-right: 25px;
}

.userInfo {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}
.name_status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 60%;
}

.userName {
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}
/* .userInfo {} */

.locationUser{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 40%;
}