.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usersContainer{
  display:flex;
  flex-wrap: wrap;

 
}


.pagesRow {
  text-align: center;
}
.selectedPages{
  color: red;
  /* font-weight: bold; */
  font-size: 20px;
  margin: 0 2px;
}

.pages {
  display: flex;
  align-self: center;
}