.header {
  height: 70px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 170, 103);
  padding: 10px 50px;
  margin-bottom: 10px;
}
.header img {
  
}

.loginBlock {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.loginBlock a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}