.navbar {
  width: 200px;
  background-color: burlywood;
  border: 2px solid black;
  padding-left: 10px;
  padding: 10px;
  margin-right: 10px;

}
.navbar h2{
  color: white;
  font-size: 35px;
  font-weight: 350;
  margin-top: 300px;
}
.friendsBlock {
  display: flex;
  justify-content: space-between;
}